.inventory-tab .title-and-action h3 {
  font-size: 25px;
  margin: 0 20px 0 30px !important;
  width: 135px;
}

.inventory-tab .title-and-action {
  height: 300px;
}

.inventory-tab .title-and-action form {
  display: flex;
  align-items: center;
}

.inventory-tab .title-and-action form .div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 210px;
  width: 250px;
  gap: 50px !important;
}

.inventory-tab .title-and-action form .div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 210px;
  width: 330px;
  gap: 55px !important;
}

.inventory-tab .title-and-action select {
  width: 90px;
  height: 30px;
  margin: 0 0 0 15px !important;
  border: 1px solid rgb(111, 159, 255);
}

.inventory-tab .title-and-action form .div2 label {
  font-weight: 300 !important;
}

.inventory-tab .title-and-action form .div2 select {
  margin: 0 0 0 10px;
  width: 180px;
}

.inventory-tab .title-and-action form .div3 {
  display: flex;
  flex-direction: column;
  height: 210px;
  width: 250px;
  gap: 50px !important;
}

.inventory-tab .title-and-action form .btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.inventory-tab .title-and-action form input[type="number"],
input[type="number"],
input[type="data"],
textarea {
  border: none;
  border-bottom: 2px solid rgb(111, 159, 255);
  background: transparent;
  outline: none;
  width: 90%;
  text-transform: capitalize;
}

.inventory-tab .TableDiv {
  width: auto;
  margin: 0 20px 30px 20px;
  border-radius: 10px;
  height: 530px;
  background-color: white;
}

.inventory-tab .TableDiv .deleteBtn {
  color: white;
  height: 30px;
  border: none;
  width: 90px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background-color: #dc3545;
  font-size: 15px;
}

.inventory-tab .TableDiv .editBtn {
  color: white;
  height: 30px;
  margin: 0;
  border: none;
  width: 70px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background-color: #ffd75e;
  font-size: 15px;
}

.inventory-tab .TableDiv table td:nth-child(11) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inventory-tab .TableDiv hr {
  width: 220px;
  height: 2px !important;
  padding: 0;
  margin: 5px 0 0 60px;
  background-color: rgb(61, 124, 250);
}
