/* .report-page{
    width: 95%;
    margin: 0 auto;
}
.report-page .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.report-page .grid-item {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .report-page .sub-links ul{
    display: inline-block;
    text-decoration: none;
  }
  .report-page .report-menu{
    margin-bottom: 20px; 
  }
  .report-page .report-menu td .menu-link{
    background: rgb(218, 218, 218);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    border-radius: 10px;
  }

  .report-page .btn{
    background: rgb(37, 119, 37);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  } */

.report-page {
  width: auto;
  height: 118vh;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
}

.page-report-div {
  height: 400px;
  width: 90%;
  margin: 50px 0 0 70px;
}

.flex-wrap-div {
  margin: 20px 0 0 0;
  display: flex;
  gap: 70px;
  width: 100%;
  justify-content: center;
}

.card {
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 10px 13px -7px #0000009f, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card .icon {
  font-size: 80px;
  margin: 0 0 20px 0;
}

.card button {
  background-color: rgb(29, 104, 255);
  border-radius: 5px;
  height: 35px;
  width: 150px;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: 500;
  line-height: 21px;
  transition: 0.2s ease-in-out;
}
